[2019-04-15 20:29] blackfalcon opened #1 "Update support for default fonts directory variable"
# Issue report

## Context
When using Design Tokens as designed, this creates a default directory variable for copied fonts into the project using OWCSS.

This directory is not consistent across projects.

Remove this default variable and create a new approach for variable management.

[2019-04-18 22:21] blackfalcon opened #2 "Upgrade to Gulp 4.0"
Update the current Gulp examples to use Gulp 4.0. This is also needed to address security vulnerabilities in Gulp 3.x

[2019-04-23 16:13] geoffrey1218 opened #3 "color.brand.green.tropical.lighten is not green"
# Issue report

## Expected Behavior

The color.brand.green.tropical.lighten is a light green color.

## Current Behavior

The color.brand.green.tropical.lighten token is a blue color.

https://github.com/AlaskaAirlines/OrionDesignTokens/blob/8d10db374ba2d431c560ca126cb2e7a1f12948b4/src/color/brand.json#L19-L25

https://www.google.com/search?q=%230086df

## Possible Solution

Change the hex value

[2019-04-24 16:58] #3 closed

[2019-04-24 17:06] blackfalcon commented on #2
Completed https://github.com/AlaskaAirlines/OrionDesignTokens/commit/8d10db374ba2d431c560ca126cb2e7a1f12948b4

[2019-04-24 17:06] #2 closed

[2019-05-15 22:29] geoffrey1218 opened #6 "Mobile font sizes do not reflect orion style guide"
# Issue report

The mobile font size tokens are all a few pixels larger than the Orion style guide. Double check the tokens to make sure they're accurate.

## Expected Behavior

Mobile font size tokens match style guide -- max is 30px, xxl 26px, xl 21px, lg 18px, med 16px, sm 12px.

## Current Behavior

Mobile font size tokens do not match style guide -- computed as **max 35.2px, xxl 26.4px, xl 23

[2019-05-22 20:41] ecommerceUXdesign commented on #3
:tada: This issue has been resolved in version 1.0.0 :tada:

The release is available on:
- [npm package (@latest dist-tag)](https://www.npmjs.com/package/@alaskaairux/orion-design-tokens)
- [GitHub release](https://github.com/AlaskaAirlines/OrionDesignTokens/releases/tag/v1.0.0)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2019-06-17 17:49] #6 closed

[2019-06-17 17:56] ecommerceUXdesign commented on #6
:tada: This issue has been resolved in version 2.3.1 :tada:

The release is available on:
- [npm package (@latest dist-tag)](https://www.npmjs.com/package/@alaskaairux/orion-design-tokens)
- [GitHub release](https://github.com/AlaskaAirlines/OrionDesignTokens/releases/tag/v2.3.1)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2019-06-27 17:40] ecommerceUXdesign commented on #1
not really an issue ...

[2019-06-27 17:40] #1 closed

[2019-07-09 16:59] blackfalcon opened #9 "Set token widths"
# Create baseline token widths for page layouts

Need to have set token widths for baseline layouts.

src/size/width.json

[2019-08-26 23:13] cobrien64 opened #10 "Review Breakpoint sizes and naming convention"
https://github.com/AlaskaAirlines/OrionDesignTokens/blob/470c4cb886e533072f4b4af6c54b956cde3957d1/src/breakpoint.json#L7

[2019-11-18 21:04] ecommerceUXdesign commented on #9
This issue is no longer valid per new updates.

[2019-11-18 21:04] #9 closed

[2019-11-18 21:09] ecommerceUXdesign commented on #10
See updates per the v2.8 branch
https://github.com/AlaskaAirlines/OrionDesignTokens/blob/tokens%402.8/src/breakpoint.json

Closing this issue as the solution is being addressed in the new 2.8 branch.

[2019-11-18 21:09] #10 closed

[2019-12-04 21:15] geoffrey1218 opened #15 "_TokenVariables.scss changes and removes variables from v2.7.3 to 2.8"
# Issue report

Your issue may already be reported! Please search on the issue tracker before creating one.

## Expected Behavior

Upgrading to 2.8 does not remove or change the generated Sass variables in _TokenVariables.scss for backwards compatibility with existing projects.

## Current Behavior

Upgrading to 2.8 removes and changes several variables in _TokenVariables.scss.

$color-background-

[2019-12-05 03:05] blackfalcon commented on #15
I think what you are reporting as a bug is a feature.

By design, a legacy file like `_TokenVariables.scss` is only outputting the Orion design tokens. The new Auro tokens have vastly different names and uses, so many of the legacy tokens are deprecated. While many values are the same, many are new and many have been deprecated.

Please see https://github.com/AlaskaAirlines/OrionDesignTokens#manag

[2019-12-05 03:08] blackfalcon commented on #15
Sorry ... I read that wrong. I understand what you are saying and I will look into this ASAP.

[2019-12-06 18:01] #15 closed

[2019-12-06 18:02] ecommerceUXdesign commented on #15
:tada: This issue has been resolved in version 2.9.1 :tada:

The release is available on:
- [npm package (@latest dist-tag)](https://www.npmjs.com/package/@alaskaairux/orion-design-tokens)
- [GitHub release](https://github.com/AlaskaAirlines/OrionDesignTokens/releases/tag/v2.9.1)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2019-12-13 21:39] blackfalcon opened #18 "Support Color Modifiers"
# New feature request

Engineer support for Auro color modifiers as listed in the [documentation](https://auro.alaskaair.com/foundations/color#color-modifiers)

Not all modifiers should be released with the default token sets. Using a new filter, individual output files need to be included with the npm release.

[2019-12-13 21:47] blackfalcon opened #19 "Update Issue Templates"
**Is your feature request related to a problem? Please describe.**
Issue templates need to be consistent across repos

**Describe the solution you'd like**
Update the repo to use the same solution as added [here](https://github.com/AlaskaAirlines/OrionStatelessComponents__ods-hyperlink/commit/c0330cc4d9a0638bca560c3d9af14fbc6d26aa8d) and [here](https://github.com/AlaskaAirlines/OrionStatelessCompo

[2019-12-14 06:17] blackfalcon commented on #19
fixed with https://github.com/AlaskaAirlines/OrionDesignTokens/commit/65402a811b94020423aeb7ab80b55ef100dad0d4

[2019-12-14 06:17] #19 closed

[2019-12-23 17:30] blackfalcon opened #20 "Deprecated styles, issue with names"
**Describe the bug**
There is an issue with the output names for unitless scales

**To Reproduce**
Steps to reproduce the behavior:
1. View DEPRECATED tokens
2. See `var(--unitless-scale-xxl) | var(--auro-unitless.scale.300)`

**Expected behavior**
`var(--auro-unitless-scale-300)`

[2020-02-04 02:40] blackfalcon commented on #20
issue has been addressed in previous pr

[2020-02-04 02:40] #20 closed

[2020-02-11 21:51] corobrie opened #24 "Token Hierarchy Exploration"
**Is your feature request related to a problem? Please describe.**
Looking at possible file hierarchy changes and token changes to help the expansion of the design tokens

**Describe the solution you'd like**
A clean and clear way to sort and view tokens that match with the toolkit's propagation of colors

**Describe alternatives you've considered**
TBD

[2020-02-27 21:39] blackfalcon opened #25 "Rename repo"
# General Support Request
Update the repo name to remove references to Orion and simplify to reference Design Tokens.

When updating the repo name, be sure to update all link references.

[2020-03-06 17:49] blackfalcon opened #26 "Alert colors require more research"
# General Support Request

It was discovered in a recent update to the current site that the alert colors as directed by Auro at this time need to be further researched.

* `var(--auro-color-alert-advisory-on-light)` was considered to be too alarming.
* `var(--auro-color-brand-tropical-100)` was recommended and accepted as not being too alarming, but stands out from the rest of the page content.
*

[2020-04-10 00:54] #25 closed

[2020-05-05 13:47] blackfalcon opened #27 "Tokens to be considered for Auro inputoptions WC"
## Reference

https://github.com/AlaskaAirlines/ods-inputoptions/issues/10

## Issue

@blackfalcon @tsalright Here is the list of tokens I derived from @vidalmenAS's mocks.
To match some of these mocks, the border color had to be pulled from the text block. Will we need new tokens in the right category for these?

[code]

[2020-05-05 14:28] blackfalcon commented on #27
@gusnaughton having reviewed the list of tokens, I have surmised the following list

[code]

The things that have me really confused are,

1. where did you get `--auro-color-border-divider-on-dark` from?
1. what is the state of `unselected` and why does it need a border with color?

Looking at the comp, I see the color you are looking for I think is `#00cff0`, so that would be `var(--auro-color-ui

[2020-05-05 14:56] blackfalcon commented on #27
@gusnaughton note: I have updated Design Tokens to expose the gray color specs and updated the doc site to reflect this update. Go to Colors and scroll to the bottom.

[2020-05-05 16:55] gusnaughton commented on #27
@blackfalcon

I was referencing [this version of the docs ](https://auro.alaskaair.com/foundations/color)and missed this token when I caught my mistake - thanks for grabbing that one!

Unselected/Default state. When the checkbox is not marked as selected, its border color is #222 but when it is selected, the checkbox border and fill is #0075c8.
![image](https://user-images.githubusercontent.com/70

[2020-05-05 16:59] gusnaughton commented on #27
@blackfalcon I noticed you pruned the background keys as well - was this intentional? Thinking about the white fill on the default state and the blue fill in the selected state.

[2020-05-05 18:07] blackfalcon commented on #27
@gusnaughton can we call this done?

[2020-05-05 18:09] #27 closed

[2020-05-19 21:10] #18 closed

[2020-05-19 21:42] #24 closed

[2020-10-28 23:33] littleninja opened #31 "JSVariable variable names invalid, possible docs update?"
Sorry, there might be a few issues rolled into this. I tried playing with jss and went for our Javascript tokens but wasn't sure how to consume them, so I started with our [Auro docs](https://auro.alaskaair.com/getting-started/developers/design-tokens/install#install-esmodules). There are several JS* files. I noticed `JSData--color.js` has an object structure and I can pull the color like so:

[co

[2020-11-02 22:01] blackfalcon commented on #26
Unassigned, looking for help

[2020-11-03 20:42] sryckman commented on #26
"var(--auro-color-brand-tropical-100) was recommended and accepted as not being too alarming, but stands out from the rest of the page content."

Isn't it supposed to stand out if it's an alert that we want to make sure users see?

[2020-11-13 17:59] blackfalcon commented on #31
Good catch. This file is not really used and what I think happened is with the last major refactor the output file was altered and not caught.

I am working on a major release for the Tokens that removes all legacy Orion and Classic support, this update will be added to that branch.

I will also retroactive update the previous version of Tokens to address this bug.

[2020-11-14 01:57] #31 closed

[2020-11-14 01:59] ecommerceUXdesign commented on #31
:tada: This issue has been resolved in version 2.12.3 :tada:

The release is available on:
- [npm package (@latest dist-tag)](https://www.npmjs.com/package/@alaskaairux/orion-design-tokens/v/2.12.3)
- [GitHub release](https://github.com/AlaskaAirlines/AuroDesignTokens/releases/tag/v2.12.3)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2020-11-14 02:35] ecommerceUXdesign commented on #31
:tada: This issue has been resolved in version 3.0.0 :tada:

The release is available on:
- [npm package (@latest dist-tag)](https://www.npmjs.com/package/@alaskaairux/design-tokens/v/3.0.0)
- [GitHub release](https://github.com/AlaskaAirlines/AuroDesignTokens/releases/tag/v3.0.0)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2020-12-09 23:53] blackfalcon commented on #26
This issue is extremely old and I am wondering if there is any resolution needed? Due to its age and the fact that there have been very few discussions or interest tells me that this issue has been abandoned and should be closed.

@vidalmenAS @sryckman what say you?

If you feel that there are no actions to be taken from this issue, please feel free to close.

[2021-01-04 22:26] blackfalcon commented on #26
Due to a lack of interest and feedback, I am electing to close this issue. If and when this is to be revisited, we can bring this back as needed.

[2021-01-04 22:26] #26 closed

[2021-02-01 23:29] erikalanghauser opened #36 "Design tokens: add brand-neutral specs"
## Describe the bug
Auro.alaskaair.com Personality Color Palette page is missing all of the neutral colors that exist in our UI kit and the design tokens actually exist, they just aren't displayed in the demo.

## To Reproduce
Steps to reproduce the behavior:
1. Go to https://auro.alaskaair.com/color/personality-palette-usage
2. The range of Neutral colors are missing:

- var(--auro-color-brand-ne

[2021-02-09 21:25] blackfalcon commented on #36
I have added the new colors, but I think there are some additional things we need to consider. I am willing to say that the following is out of the scope of this update, but do need to be considered.

### Digital palette

With these additions, what is the impact on the pre-defined use-case tokens in the [digital palette](https://auro.alaskaair.com/color/core-digital-palette-usage)? Specifically wi

[2021-02-09 22:35] erikalanghauser commented on #36
Hi @blackfalcon  -
The newly added neutral colors look good to go.

After speaking with UI designers, we should rename the -base-gray-x00s to be **-brand-gray-x00**s and have them fall under the Personality Palette instead of Core Digital Palette.

**-brand-neutral x00**s should also be in the Personality Palette and usage does not need to be specific. Both -brand-gray-x00 and -brand-neutral-x00 a

[2021-02-10 22:02] blackfalcon commented on #36
@erikalanghauser please see the following updates

The colors `gray` have been removed from the Digital Palette section
https://auro-tokens-36.surge.sh/color/digital-palette

`neutral` and `gray` have been added to the Personality Palette
https://auro-tokens-36.surge.sh/color/personality-palette

`base-gray` was renamed to `brand-gray`
https://auro-tokens-36.surge.sh/color/personality-palette

`ba

[2021-02-10 22:16] erikalanghauser commented on #36
@blackfalcon All of the updates look great, thank you!

[2021-02-11 03:51] #36 closed

[2021-02-23 17:49] littleninja opened #38 "Add elevation or shadow token support"
**Is your feature request related to a problem? Please describe.**
I'm building a fixed button and went to reach for an [elevation token](https://material.angular.io/guide/elevation) or [shadow token](https://tailwindcss.com/docs/box-shadow) but came up empty. I did find `src/shadow.json` marked 'legacy'. Defining consistent elevation planes, which elements exist at each plane (ex. button, card, h

[2021-02-23 23:35] blackfalcon commented on #38
You are correct. Auro does not have a standard definition for shadows. All the examples you illustrated are unique flowers one way or another.

What you are building, what is the design spec for that? At the very least we can start there.

Otherwise, I feel that this is a greater conversation to be had with the UI designers for an official answer.

[2021-02-24 02:30] littleninja commented on #38
A [back-to-top element](https://github.com/littleninja/auro-backtotop), Amanda and Vidal are still working through both UX and UI ([demo here](http://wealthy-feather.surge.sh/)). The fixed position trigger needs a bit of elevation (shadow) and it felt like that's something I would find in design tokens. Similar to how we use consistent colors so they compliment and agree used together on the page,

[2021-02-26 06:29] blackfalcon commented on #38
@littleninja I see that the back-to-top element you are creating has a shadow. Is this to be considered for tokenization?

[2021-02-26 17:44] littleninja commented on #38
No, the shadow used for back-to-top element is "another unique flower". It's pulled from Angular Material's FAB button: https://material.angular.io/components/button/overview. When we've defined elevation in Auro design system and have shadow tokens to consume, will happily refactor back-to-top.

[2021-02-26 23:42] blackfalcon commented on #38
I am punting on this for now. The issue that @littleninja brought up was addressed in the project with yet another custom setting. There is currently no bandwidth for design to address this missing part at this time.

[2021-03-02 19:43] blackfalcon opened #40 "z-index updates"
**Is your feature request related to a problem? Please describe.**

Z-index use is inconsistently used across AS properties. There are current design tokens, but there needs to be a better definition of the component hierarchy. Currently, popovers are appearing over dialogs, which should be reversed.

[2021-03-02 19:45] blackfalcon opened #41 "Experiment Style Dictionary 3.0"
# General Support Request

See [scope of changes](https://amzn.github.io/style-dictionary/#/version_3) for Style Disctionay 3.0.

1. Upgrading to this new version should be backward compatible
2. Read over the scope of changes and see if there are interesting opportunities to improve the current workflow

[2021-03-02 19:58] BrentLabasan commented on #40
Comment so I can be tagged.

[2021-03-12 04:13] blackfalcon commented on #38
Sent an email to the design team for assistance with completing this work.

[2021-03-12 04:17] blackfalcon commented on #40
@BrentLabasan has there been any movement on this issue with the work you are doing?

[2021-03-12 18:13] sryckman commented on #38
I've opened a documentation framework for this issue and dropped links to various Figma files where I also see one-off shadows appearing. The doc is otherwise blank and ready for any UI designer to start iterating.

[2021-03-13 02:03] BrentLabasan commented on #40
PR #43 has been submitted.

[2021-03-15 23:52] jason-capsule42 commented on #41
Based on review of the new feature set and discussion with @blackfalcon upgrading to Style Dictionary 3.0 is deferred at this time.

The new features are not of immediate value and the version is not officially released yet.

[2021-03-15 23:52] #41 closed

[2021-03-31 16:57] #40 closed

[2021-04-24 02:58] blackfalcon commented on #38
@sryckman can you put a link to that Figam file in here? Has there been any movement on this work?

[2021-05-07 21:51] CarsonTolleshaug opened #46 "Package includes insecure (possibly unneeded) dependencies"
**Describe the bug**
The @alaskaairux/design-tokens package includes a dependency reference to node-gyp package which contains test and debug code. This means that if a project references @alaskaairux/design-tokens and is built into a docker image, that image will get flagged by Aqua scanning (or any other image scanner) and prevented from being promoted.

**To Reproduce**
Steps to reproduce the b

[2021-05-07 22:06] blackfalcon commented on #46
I am not sure what I can do on my end? The [semantic release npm API](https://www.npmjs.com/package/@semantic-release/npm) needs `NPM_TOKEN`.

This is [NOT set in the code](https://github.com/AlaskaAirlines/AuroDesignTokens/blob/master/package.json#L48-L73) at all. There is a secret in Github that I am using to satisfy this dependency.

I haven't worked with k8s so I am unsure how to troubleshoot.

[2021-05-07 22:12] gusnaughton commented on #46
@n3rd253 FYI.

When we ran into this in our project, we ended up having to remove that file manually via the Dockerfile to satisfy the scanner. The argument to be made here is - why are we sending test data in our production containers?

Is there a way we can strip out sub-dependency test information from our production bundles if it's not doing so already?

[2021-05-07 23:12] blackfalcon commented on #46
But that's the weird part, it's not? It's a dev dependency.

https://github.com/AlaskaAirlines/AuroDesignTokens/blob/master/package.json#L21

[2021-05-08 00:07] afraalaska commented on #46
As the key seems unrelated to Alaska and has been originated from node-gyp, we can mark this as a false positive on Aqua.
It would still make sense to exclude non-production code if possible from prod environment.

Seems like this issue's been known by node-gyp, and their reasoning is that they "ship full test and doc functionality with packages and without the key it's not complete."  https://git

[2021-05-08 06:07] blackfalcon commented on #46
Well, not reaching out to those guys for help. Thanks for finding this @afraalaska. So, what I am getting from this, this is a `won't fix` scenario? So I can close this out?

@CarsonTolleshaug `devDependencies` by default shouldn't get pulled into prod builds. For example, in a [bundled version](https://www.runpkg.com/?@alaskaairux/auro-button@6.2.0/dist/auro-button__bundled.js) of one of our web

[2021-05-25 17:56] #46 closed

[2021-05-25 21:35] erikalanghauser opened #49 "Design Tokens: Border colors updates"
**Describe the bug**
There is a discrepancy between Figma Border design tokens and the auro.alaskaair.com Border design tokens.
var(--auro-color-border-primary-on-light) & var(--auro-color-border-primary-on-dark) need updated to new hex values.
and 2 border-**divider** colors need added.

**To Reproduce**
Steps to reproduce the behavior:
1. View the breakdown of Figma border colors vs Auro border

[2021-05-25 21:39] erikalanghauser commented on #49
Additional context:
auro-input line color currently appears incorrect but is using the correct -primary-on-light token. Updating the tokens will give it the proper #626B79 line color.
The current primary-on-light color is too light and very much resembles the -disabled-on-light token which is undesirable. This color is better leveraged as a -border-divider only.

@audreychae97 @bridgetglewis

[2021-06-10 18:28] blackfalcon commented on #49
@erikalanghauser yes, auro-input is pretty behind in regards to tokens. Once we have this update published, I will get auro-input up to date.

[2021-06-10 20:35] #49 closed

[2021-06-16 23:10] geoffrich opened #54 "Line height tokens should not have units"
**Describe the bug**
The tokens used for line height in WCSS use rem units. Per [MDN](https://developer.mozilla.org/en-US/docs/Web/CSS/line-height#prefer_unitless_numbers_for_line-height_values), line height values should be unitless.

[code]

WCSS uses `auro-text-body-height-default` to set a default line height, effectively setting line height to 24px regardless of font-size. At font sizes large

[2021-06-18 17:07] blackfalcon commented on #54
This is a debate to take back to the design team. When the latest gen of tokens was created this was a debate between myself and the lead designer at the time.

In the end, the use of units was not accidental.

Is there a situation where the use of these tokens in production is causing issues with the development of UIs?

There is a growing discussion about the use of typography and this is not so

[2021-06-21 17:36] geoffrich commented on #54
I can understand why we'd want to define line height units on our height tokens for heading levels and such, so I retract my request to remove units from the height tokens. However, I think setting a default line-height value with a unit on `body` has too many side effects. Since line-height is inherited, all children will have a default line-height of 24px regardless of their font size, which cau

[2021-06-21 17:47] blackfalcon commented on #54
Yes. This is an issue regarding the expectation of type with design. Really, this is not even a WCSS issue, but something that needs to be proposed with the designers.

I will mention this to the UI designers and see if there are things we need to address.

[2021-06-21 17:47] #54 closed

[2021-09-10 20:19] braven112 opened #56 "Auro design tokens: Oneworld/MP Tier tokens"
We have an upcoming 100k tier being added to the Mileage Plan program.

Sometimes I see these tiers with different colors.  Should we add design tokens for these tiers so its easier to implement and is consistent?

@vidalmenAS I'd love to discuss this one with you.

Million miler uses #767676
https://www.alaskaair.com/content/mileage-plan/membership-benefits?lid=mileageplan:mileage-plan-overview:m

[2021-10-06 01:58] blackfalcon opened #58 "v3.4-rc: Update type ramp tokens"
## Is your feature request related to a problem? Please describe.

Update tokens to support new variables.

## Describe the solution you'd like

A clear and concise description of what you want to happen.

Update Tokens to support the following variables for `font-weight :300`:

[code]

Update Tokens to support the following variables for `font-weight :500`:

[code]

[2021-10-08 02:20] #58 closed

[2021-12-02 00:42] leeejune opened #60 "auro design tokens: add color tokens for different states"
## Is your feature request related to a problem? Please describe.
There are no color tokens for backgrounds in a hover/active state.

## Describe the solution you'd like
Add color tokens to the design system.

## Additional context
We will need to add another name category for these new tokens. Ex: auro-color-ui-background-hover-on-dark

[2021-12-14 17:25] #60 closed

[2021-12-16 17:25] leeejune commented on #56
Added oneworld and AA tier colors: https://www.figma.com/file/TBMhIMVRMkufKnyxqGzrZO/Color-Explorations?node-id=33%3A2629

Waiting for review.

[2021-12-16 18:26] blackfalcon commented on #56
@leeejune Suggestion:  `Token name: auro-color-oneworld-tier-ruby`

Tier is a child concept of OneWorld.

[2021-12-16 19:08] leeejune commented on #56
@blackfalcon Should that apply to `auro-color-tier-alaska-mvp-on-light` as well?

[2021-12-16 22:04] braven112 commented on #56
I think it was the blue, green and red from this page:
https://www.oneworld.com/travel-benefits

![image](https://user-images.githubusercontent.com/5118118/146455666-5ffe7082-e561-435a-9534-4d876a9f5481.png)

I would reach out the the designer on the loyalty team to double check the exact hex value.

[2021-12-16 22:47] blackfalcon commented on #56
@leeejune here is what we need to do.

We need to create the baseline token that is these colors. Like we have `var(--auro-color-brand-goldcoast-200)`

Then those baseline tokens will be aliased to `auro-color-oneworld-tier-ruby` and `auro-color-alaska-tier-mvp`

Are there `onDark` versions of these colors? The OneWorld site doesn't appear to support a dark mode, so my guess is no.

[2022-01-14 20:50] leeejune commented on #56
There is no onDark for OneWorld. Alaska has onDark for MVP Gold and MVP.

[2022-01-14 20:51] leeejune commented on #56
https://www.figma.com/file/TBMhIMVRMkufKnyxqGzrZO/Color-Explorations?node-id=107%3A1869

Updated with baseline color names and alias color tokens. Please review @blackfalcon!

[2022-01-18 18:48] leeejune commented on #56
I will be adding the tokens to the code with Dale's help.

[2022-01-25 23:20] #56 closed

[2022-01-25 23:23] leeejune opened #64 "release new design tokens"
# General Support Request
Update the docsite, Figma, and Teams channel for release of tier colors.

## Support request
- [ ] Edit Figma styles
- [ ] Release notes in Teams
- [ ] Add to docsite

[2022-01-26 22:42] blackfalcon opened #65 "Tokens to support dark and hi-contrast mode"
## Is your feature request related to a problem? Please describe.

The concept of dark mode is really driven by user computer preferences versus an option a user chooses for that website.

## Describe the solution you'd like

A concept that I have toyed with is to have two different token imports. One that is the primary experience and then one that is an update to specific values when the preferr

[2022-01-31 17:42] blackfalcon commented on #38
This issue has been open for a long time. @leeejune can you see if anyone of the designers want to pick this up?

[2022-02-24 19:54] leeejune opened #66 "Darken bkg-hover color"
**Is your feature request related to a problem? Please describe.**
The hover state color is a bit too light.

**Describe the solution you'd like**
Darken the hover color to #00000 6% opacity.

[2022-02-28 18:26] leeejune commented on #38
Explorations here: https://www.figma.com/file/BwHtOWIYLTiBIF2VVy6K9g/Auro-Elevation-%26-Shadows?node-id=407%3A8

[2022-02-28 21:48] blackfalcon commented on #38
@leeejune I'd strongly recommend you review this document for your explorations. https://material.io/design/environment/elevation.html#depicting-elevation

[2022-03-03 04:15] #66 closed

[2022-03-10 16:48] blackfalcon opened #68 "Use design tokens from this project in Figma files"
## Is your feature request related to a problem? Please describe

Having a standard integration model for our design token solution and Figma would really help to maintain consistency and a single source of truth.

## Describe the solution you'd like

Please look at this plugin and evaluate its use.

https://www.figma.com/community/plugin/843461159747178978/Figma-Tokens

## Describe alternatives y

[2022-03-23 11:20] leeejune commented on #38
Elevation guidelines completed.

[2022-03-23 11:20] leeejune commented on #38
@blackfalcon Please review!

[2022-03-24 18:43] blackfalcon commented on #38
@leeejune this is GREAT work. The visuals and the content are well done. My only feedback is that for things that have multiple versions of a comment thing, we use the denotation of `100`, `200`, etc... The use of `sm`, `md`, `lg`, really apply to things where specific sizes are used.

For the naming of these attributes, I would argue that `elevation-100`, `elevation-200` and `elevation-300` would

[2022-03-27 02:45] leeejune commented on #68
This is an AMAZING plugin. I absolutely love it. I have a few concerns though:
1. There is no "internal" storage that designers can use within Figma. In other words, designers need to learn how to use Github or understand how JSON works for them to use it correctly. This will lead to other problems (Github licensing, training, etc)
2. We have a large group of designers. This tool would be great fo

[2022-03-28 17:14] leeejune commented on #38
I like the number system over the sizing system. Made those changes just now. I will be presenting this at design fair today.

@blackfalcon What are the next steps? Can this issue be closed?

[2022-03-28 17:26] braven112 opened #69 "Elevation Tokens"
Based off of the design work in #38 we would like to implement elevation tokens so that our components have a consistent and easily repeatable tokens available for use.

https://www.figma.com/file/BwHtOWIYLTiBIF2VVy6K9g/Auro-Elevation-%26-Shadows?node-id=407%3A8

This would be great to have finalized before work on banners and cards is picked up again.

Exit Criteria:
The tokens described in #38 a

[2022-03-28 17:28] #38 closed

[2022-03-28 17:56] blackfalcon commented on #38
As for development criteria, I would like to see the following explored.

1. The baseline values for these layers should be added to the auro design token library.
2. We could add these to the WCSS as a new set of utility classes, e.g. `util__elevation-100`
3. I would like to explore the idea of having an HTML custom element called `auro-elevation` that could act as a declarative wrapper around an

[2022-03-29 22:48] blackfalcon commented on #68
Fair. No need to push for this if it's not the right tool or time. We can close this and always come back to this later if needed.

[2022-03-29 22:48] #68 closed

[2022-04-01 11:15] leeejune opened #70 "Add XXS font size"
## Is your feature request related to a problem? Please describe.
Designers need smaller font sizes for labels or less significant information.

## Describe the solution you'd like
Add a smaller font size (XXS).

[code]

## Exit criteria
A new font-size token will be created and added to the list of supported sizes.

An update to the docs site type page provides clear guidelines that warn users of

[2022-04-01 11:19] leeejune opened #71 "Refactor size spacing values"
**Is your feature request related to a problem? Please describe.**
Content uses 90px spacing between large content sections. There is no token that fits this need.

**Describe the solution you'd like**
Add a 90px spacing after our XXXL 64px spacing token.

**Describe alternatives you've considered**
One suggestion made was to add two spacing tokens together (64px + 24px), but it is not an efficien

[2022-04-04 19:56] blackfalcon commented on #71
I feel like having a 90px option is a result of how our grid solution [didn't really think to accommodate this](https://auro.alaskaair.com/layout/grid#:~:text=Fixed-,Guidlines,-Two%20grid%20sizes).

I look at how Material had [alternate grid solutions per different media types](https://material.io/design/layout/responsive-layout-grid.html#columns-gutters-and-margins).  We simply cram 12 columns in

[2022-04-04 21:08] blackfalcon commented on #70
@leeejune and I talked about this, it's a 👍 from me to do this work.

[2022-04-05 17:17] leeejune commented on #71
The 90px spacing would be used for vertical spacing and the grid system only accommodates horizontal spacing. The content team separates large groups of content with 90px of space.

However, I like the solution of having different grids for screen sizes. Seems like it belongs more in this issue: https://github.com/AlaskaAirlines/WebCoreStyleSheets/issues/114

[2022-04-05 18:48] braven112 commented on #71
Let's sync up with Amanda's template work and come up with a list of all potential tokens

[2022-04-20 00:26] #70 closed

[2022-04-20 01:48] blackfalcon commented on #65
https://dbanks.design/blog/dark-mode-with-style-dictionary/

[code]

To support dark mode, we should consider a MAJOR release of the tokens. When looking at the colors and evaluating what is LIGHT and what is DARK, there are many things that will not change, so we should break these out into a `base.css` set of tokens and then the remaining colors would be used for the LIGHT and DARK Themes.

We a

[2022-05-05 18:29] #69 closed

[2022-05-05 18:39] leeejune opened #75 "Release elevation tokens"
Elevation tokens are ready for release.

- [ ] Release on Figma
- [ ] Add design guidelines to Figma page
- [ ] Send update on Teams

[2022-06-14 00:51] leeejune opened #80 "Default UI color has different color than spec"
**Describe the bug**
The hex code of --auro-color-ui-default-on-light is different in the doc site and the design specs.

**Expected behavior**
#0074cb should be #0074c8

**Screenshots**
![MicrosoftTeams-image (2)](https://user-images.githubusercontent.com/55998746/173470651-1b1f0e5a-5742-4fd1-a614-154eb3a4a82f.png)
![MicrosoftTeams-image (1)](https://user-images.githubusercontent.com/55998746/173

[2022-06-16 20:27] #80 closed

[2022-06-17 19:01] blackfalcon commented on #71
What is the status of this @leeejune? Has this been addressed outside the scope of tokens or is there still a need to solve this problem?

[2022-06-21 22:37] blackfalcon opened #82 "ITS design token mapping"
## Is your feature request related to a problem? Please describe.

ITS is working with a 3rd party vendor that is creating alternate design assets for their design system theme. The work they have produced has created a 'sticker sheet' of reusable CSS values. Fonts, colors, spacing, etc...

## Describe the solution you'd like

The scope of this issue is to map all the values of the sticker sheet t

[2022-06-30 08:47] leeejune commented on #71
@blackfalcon Content still seems to be needing a larger spacing token. We were thinking 80px (5rem) could work.

[2022-06-30 14:51] blackfalcon commented on #71
@leeejune I am thinking that we painted ourselves into a corner with our current naming strategy. Looking at other design systems, where we embraced a naming convention like -100 and -200 in some parts, why we did not do this universally I don't know, but maybe we can now.

See https://spectrum.adobe.com/page/design-tokens/#Size-tokens

Let's talk about how we can look at going in an alternate dir

[2022-07-06 05:55] leeejune commented on #82
[Figma file with ITS color and type tokens (added Auro DS tokens)
](https://www.figma.com/file/WemI0bgzG8TF7wu8ajCWtu/ITS-%26-Auro-Design-Tokens?node-id=2%3A48)

[Excel sheet with mapping](https://alaskaair-my.sharepoint.com/:x:/p/june_lee/EdaRLHWZS1ZFs4s8kFLJ15MBFicmpz_7CeyIxdlOvaHnWQ?e=6ztp8v)

@blackfalcon I would love to go over this with you and solve a few discrepancies between the design to

[2022-07-06 18:20] blackfalcon commented on #82
@leeejune please schedule a meeting with me so that we can review this together and come up with a proposal.

[2022-07-13 21:26] #82 closed, assigned to leeejune

[2022-08-17 19:51] leeejune commented on #71
Proposed token naming: https://alaskaair-my.sharepoint.com/:x:/p/june_lee/EYsMP9O8OY1Og8W1rG-YUcUBoc0RsrDFeDoe3FMz2btuoQ?e=30ezgE

[2022-08-18 18:26] braven112 commented on #71
Naming is hard.  Here are how 4 other design system do it.  I personally find the proposed number system confusing especially if we only support some of the values in the 100, 200 format.

https://carbondesignsystem.com/guidelines/spacing/overview/#spacing
https://www.lightningdesignsystem.com/design-tokens/#category-spacing
https://design.gs.com/foundation/spacing
https://momentum.design/tokens/s

[2022-08-18 21:58] jason-capsule42 commented on #71
I like the 100->200->300,... naming convention. It's easier to read and I agree it leaves room for extending to other increments more easily.

That said, I hope we don't go and create too many of these. It seems half of the point of them is to create consistent usage of layout dimensions. The more we create the more we have variation in the design. Not my area I know... but there has to be a line

[2022-08-22 21:18] blackfalcon commented on #71
@leeejune there are solid use cases for t-shirt vs 100 scale, and I agree we can stick wth the t-shirts for type. Given the examples @braven112 used, this appears to be a real sticky issue with many systems.

IMHO, t-shirts and spacing just didn't work because of the many nuances designers are looking for. Vs type where there are few if no in-between things happening.

I'd love to know how many cu

[2022-08-23 16:57] leeejune commented on #71
@blackfalcon What you have in that table is actually exactly what I have! Seems like we are on the same page.

![Screen Shot 2022-08-23 at 9 56 06 AM](https://user-images.githubusercontent.com/55998746/186218068-eb9d7f5a-a6f0-417f-85db-dbf7d5ad100b.png)

[2022-08-25 01:58] blackfalcon commented on #71
@leeejune close, but ... check out 3XL. It should be 800, not 900.

[2022-08-25 07:11] leeejune commented on #71
@blackfalcon Oop, faulty human calculation 😆 Will make the edit. Are we going with this solution?

[2022-08-25 16:28] blackfalcon commented on #71
Acceptance criteria:

1. New tokens are added
2. Legacy tokens are marked as `deprecated`
3. DO NOT DELETE legacy token names
4. DO NOT add new token with legacy name convention
5. Code commit is `feat:`

|Current token | Newly added token | Value |
|---|---|---
| n/a | var(--auro-size-1000) | 5rem
|var(--auro-size-xxxl) | var(--auro-size-800) | 4rem
|var(--auro-size-xxl) | var(--auro-size-600) |

[2022-09-08 19:51] blackfalcon commented on #71
Already seeing an opportunity for `var(--auro-size-500)` e.g. 2.5rem/40px.

See this PR: https://github.com/AlaskaAirlines/auro-select/pull/98/files

[2022-09-08 21:56] leeejune opened #83 "Add accent text color token"
**Is your feature request related to a problem? Please describe.**
Designers have been using auro-color-background-darker for accent text color.

**Describe the solution you'd like**
Add an accent text color token (midnight-400).
`auro-color-text-accent-on-light: var(--auro-color-brand-midnight-400)`

**Describe alternatives you've considered**
Using the personality palette for text has been consi

[2022-09-22 18:23] jordanjones243 opened #84 "Add min/max form element height token"
**Is your feature request related to a problem? Please describe.**
Heights for the form element tend to be different across each page, we want to make them consistent.

**Describe the solution you'd like**
I'd like a design token that controls the height of the form elements.

**Additional Content**
The reason for this token request is because of this issue: https://github.com/AlaskaAirlines/auro-

[2022-09-23 17:39] blackfalcon commented on #71
New issue to update WCSS to support this update

- https://github.com/AlaskaAirlines/WebCoreStyleSheets/issues/121

[2022-09-26 17:33] #84 closed

[2022-09-27 18:07] #71 closed

[2022-10-06 15:21] #83 closed

[2022-11-17 05:23] blackfalcon opened #104 "Design token value map"

[2022-11-17 06:17] blackfalcon opened #88 "Dark mode design tokens"
## Is your feature request related to a problem? Please describe.

As part of the theming work, support for generating dark mode design tokens is needed.

## Describe the solution you'd like

From the design token repo we need to export a series of values to be used in dark mode. A preferred method of use is to conditional load them in the global scope of the app.

[code]

For token management, we

[2022-11-23 00:16] blackfalcon commented on #65
Duplicate issue, see

- https://github.com/AlaskaAirlines/AuroDesignTokens/issues/88

[2022-11-23 00:16] #65 closed